
<html>

    <body bgcolor=#a3cfb4>
    
        <center>
    
            <h1>  PREDICTION :  </h1>
        
        {%if data == 0%}
        <h1>Bankcurupt is not possible</h1>
            <h2>Don't worry</h2> 
    
        {%else%}
        <h1>Higher chances of Bankcurupt</h1>
            <h2>Take it seriously</h2>
        
        {%endif%}
    
            <br><br>
        <a href='/'>go back to home page</a>
    
        </center>
    
    </body>
    
    </html>