<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> DIBETES CONFIRMATION </h1><br>
        
        <form action = "/predict" method = "POST">
           <b> ROAB_before_interest_and_depreciation_after_tax:<input type='text', name='ROAB_before_interest_and_depreciation_after_tax', placeholder='enter 0'> <br><br>
            Operating_Profit_Rate:<input type='text', name='Operating_Profit_Rate', placeholder='enter 1'> <br><br>
            Pre_tax_net_Interest_Rate:<input type='text', name='Pre_tax_net_Interest_Rate', placeholder='enter 2'> <br><br>
            Non_industry_income_and_expenditure_per_revenue:<input type='text', name='Non_industry_income_and_expenditure_per_revenue', placeholder='enter 3'> <br><br>
            Continuous_interest_rate_after_tax:<input type='text', name='Continuous_interest_rate_after_tax', placeholder='enter 4'> <br><br>
            Operating_Expense_Rate:<input type='text', name='Operating_Expense_Rate', placeholder='enter 5'> <br><br>
            Research_and_development_expense_rate:<input type='text', name='Research_and_development_expense_rate', placeholder='enter 6'> <br><br>
            Cash_flow_rate:<input type='text', name='Cash_flow_rate', placeholder='enter 7'> <br><br>
            Interest_bearing_debt_interest_rate:<input type='text', name='Interest_bearing_debt_interest_rate', placeholder='enter 8'> <br><br>
            Persistent_EPS_in_the_Last_Four_Seasons:<input type='text', name='Persistent_EPS_in_the_Last_Four_Seasons', placeholder='enter 9'> <br><br>
            Cash_Flow_Per_Share:<input type='text', name='Cash_Flow_Per_Share', placeholder='enter 10'> <br><br>
            Operating_Profit_Growth_Rate:<input type='text', name='Operating_Profit_Growth_Rate', placeholder='enter 11'> <br><br>
            After_tax_Net_Profit_Growth_Rate:<input type='text', name='After_tax_Net_Profit_Growth_Rate', placeholder='enter 12'> <br><br>
            Continuous_Net_Profit_Growth_Rate:<input type='text', name='Continuous_Net_Profit_Growth_Rate', placeholder='enter 13'> <br><br>
            Net_Value_Growth_Rate:<input type='text', name='Net_Value_Growth_Rate', placeholder='enter 14'> <br><br>
            Total_Asset_Return_Growth_Rate_Ratio:<input type='text', name='Total_Asset_Return_Growth_Rate_Ratio', placeholder='enter 15'> <br><br>
            Quick_Ratio:<input type='text', name='Quick_Ratio', placeholder='enter 16'> <br><br>
            Total_debt_per_Total_net_worth:<input type='text', name='Total_debt_per_Total_net_worth', placeholder='enter 17'> <br><br>
            Borrowing_dependency:<input type='text', name='Borrowing_dependency', placeholder='enter 18'> <br><br>
            Operating_profit_per_Paid_in_capital:<input type='text', name='Operating_profit_per_Paid_in_capital', placeholder='enter 19'> <br><br>
            Accounts_Receivable_Turnover:<input type='text', name='Accounts_Receivable_Turnover', placeholder='enter 20'> <br><br>
            Fixed_Assets_Turnover_Frequency:<input type='text', name='Fixed_Assets_Turnover_Frequency', placeholder='enter 21'> <br><br>
            Net_Worth_Turnover_Rate_times:<input type='text', name='Net_Worth_Turnover_Rate_times', placeholder='enter 22'> <br><br>
            Revenue_per_person:<input type='text', name='Revenue_per_person', placeholder='enter 23'> <br><br>
            Operating_profit_per_person:<input type='text', name='Operating_profit_per_person', placeholder='enter 24'> <br><br>
            Allocation_rate_per_person:<input type='text', name='Allocation_rate_per_person', placeholder='enter 25'> <br><br>
            Quick_Assets_per_Total_Assets:<input type='text', name='Quick_Assets_per_Total_Assets', placeholder='enter 26'> <br><br>
            Cash_per_Total_Assets:<input type='text', name='Cash_per_Total_Assets', placeholder='enter 27'> <br><br>
            Cash_per_Current_Liability:<input type='text', name='Cash_per_Current_Liability', placeholder='enter 28'> <br><br>
            Retained_Earnings_to_Total_Assets:<input type='text', name='Retained_Earnings_to_Total_Assets', placeholder='enter 29'> <br><br>
            Quick_Asset_Turnover_Rate:<input type='text', name='Quick_Asset_Turnover_Rate', placeholder='enter 30'> <br><br>
            Cash_Turnover_Rate:<input type='text', name='Cash_Turnover_Rate', placeholder='enter 31'> <br><br>
            Cash_Flow_to_Sales:<input type='text', name='Cash_Flow_to_Sales', placeholder='enter 32'> <br><br>
            Current_Liability_to_Liability:<input type='text', name='Current_Liability_to_Liability', placeholder='enter 33'> <br><br>
            Cash_Flow_to_Liability:<input type='text', name='Cash_Flow_to_Liability', placeholder='enter 34'> <br><br>
            Cash_Flow_to_Equity:<input type='text', name='Cash_Flow_to_Equity', placeholder='enter 35'> <br><br>
            Net_Income_to_Total_Assets:<input type='text', name='Net_Income_to_Total_Assets', placeholder='enter 36'> <br><br>
            Liability_to_Equity:<input type='text', name='Liability_to_Equity', placeholder='enter 37'> <br><br>
            Interest_Coverage_Ratio_Interest_expense_to_EBIT:<input type='text', name='Interest_Coverage_Ratio_Interest_expense_to_EBIT', placeholder='enter 38'> <br><br><br></b>
            <input type="submit" , value='submit!' >
        </form>

        
    </center>

    </body>
</html>
